extends layout

block frontEndScripts
	//- script(data-main="scripts/app" src="scripts/lib/require.js")
	script(src="scripts/index_FE.js")

block content
	//- Declaration
	mixin navItems(titles)
		each val in titles
			h5
				//- Tripped me up. No space is allowed between the equals
				a(href="#")=val 

	mixin showTablesButtons(tableNames)
		each val in tableNames
			button=val

	body
		header.center-text
			//- TODO: Center h1
			h1 PostgreSQL for Death
			p A side-scrolling SQL adventure exploring world wide morbidity since 1950 through the WHO Morbidity database.
		#content
			nav(id ="side-bar")
					- navArray = ["Database Stats", "Quest(ion)s", "About", "Contact"];
					+navItems(navArray)

			#main-content
				section 
					div.section-header.font-big
						| Mission
					span How many people were born in the UK in 1956?

				#quest
					canvas#game.shadow-box

				section 
					div.section-header
					div#sql-ui-flex
						div
							input(id="queryname" value="New Query Name" type="text").inset-shadow
							form(id="queryForm" method="POST" action="/")
								fieldset
									textarea(id="message" name="query").inset-shadow
										| Select * from country_codes;
									div#button-container
										div.bunch-left
											input(id="Test" type="button", value='Test Run', class="runButton")
											input(id="Run" type="button", value='Run')
											input(id="Save" type="button", value='Save')
										div.bunch-right
											input(id="Delete" type="button", value='Delete')
						div.div-bordered
							//- jade block unbuffered code actually fails in 1.11 for me.
							-	tableNames = ["avail_mortality", "avail_pop", "country_codes", "morticd7", "notes", "population"]				
							+showTablesButtons(tableNames)
			section
					#results
						// This paragraph becomes unhidden by js
						div
							p(style="visibility: hidden;")
								| There were a total of #[span ] row(s). Each row had #[span ] column(s).
						
						div.table-container
							// not part of the actual data table, just a table for headers only
							// the th elements have their width set every time on resize, and when new data is loaded
							div#table-header
								table
									thead#visible-header
										// this gets replaced everytime
										tr
											
							div#data-body-js.fixed-header-table 
								// everything here gets replaced
								table(class="table table-bordered table-striped")
									thead#hidden-header
										tr
											th
												div.th-inner I'm hidden!
											th
												div.th-inner Hi
									
	include ./includes/footer.jade
  
  
