extends layout

block frontEndScripts
	//- script(data-main="scripts/app" src="scripts/lib/require.js")
	script(src="scripts/index_FE.js")

block content
	//- Declaration
	mixin navItems(titles)
		each val in titles
			h4
				//- Tripped me up. No space is allowed between the equals
				a(href="#")=val 

	body
		header.center-text
			//- TODO: Center h1
			h1 PostgreSQL for Death
			p A side-scrolling SQL adventure exploring world wide morbidity since 1950 through the WHO Morbidity database.
		#content
			nav(id ="side-bar")
					- navArray = ["Database Stats", "Quest(ion)s", "About", "Contact"];
					+navItems(navArray)

			#main-content
				.section Mission
					div 
						| How many people were born in the UK in 1956?

				#quest.section
					canvas#game  

			.section Your query:
				div
					form(id="queryForm" method="POST" action="/")
						fieldset
							textarea(id="message" name="query")
								| Select * from country_codes;
							input(type="submit", value='Run', class="runButton")

			.section
					#results
						// This paragraph becomes unhidden by js
						p(style="visibility: hidden;")
							| There were a total of #[span ] row(s). Each row had #[span ] column(s).
						// This table gets replaced
						table(class="table table-bordered table-striped")

	include ./includes/footer.jade
  
  
