* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.center-text {
  text-align: center; }

nav {
  width: 10%;
  float: left; }

#main-content {
  margin-left: 10%; }

.section {
  margin-top: 1em; }
  .section .section-header {
    text-align: right; }

canvas {
  width: 480px;
  height: 320px;
  background-color: #100000; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.table th {
  font-weight: bold; }

.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: #f9f9f9; }

.table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #f0fff0; }

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd; }
  .table-bordered tbody:first-child tr:first-child th {
    border-top: 0; }
  .table-bordered tbody:first-child tr:first-child th:first-child {
    border-top-left-radius: 4px; }
  .table-bordered tbody:first-child tr:first-child th:last-child {
    border-top-right-radius: 4px; }
  .table-bordered tbody:first-child tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  .table-bordered tbody:first-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }

#results span {
  color: green;
  font-weight: bold; }

fieldset {
  border: medium none;
  margin: 0px;
  padding: 0px;
  border: none; }

#sql-ui-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start; }
  #sql-ui-flex > * {
    margin-top: 1em; }
  #sql-ui-flex > :first-child {
    flex: 2;
    margin: 1em; }
    #sql-ui-flex > :first-child textarea {
      width: 100%;
      height: 100%; }
  #sql-ui-flex > :last-child {
    margin-right: 1em;
    flex: 1; }

.div-bordered {
  border-width: 1px;
  border-style: solid; }

textarea {
  resize: none; }

footer {
  margin-top: 1em; }

.runButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background: -moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
  background-color: #77d42a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #268a16;
  cursor: pointer;
  color: #306108;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c; }

.runButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background: -moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
  background-color: #5cb811; }

.runButton:active {
  position: relative;
  top: 1px; }

/*# sourceMappingURL=style.css.map */