* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff; }

.font-big {
  font-size: 50px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 50px; }

.center-text {
  text-align: center; }

header {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4)); }

nav {
  text-align: center;
  background-color: #f1f1f1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 900px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }
  nav h5 {
    margin: 0;
    padding: 0.75em;
    flex: 1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent; }
    nav h5 a {
      text-decoration: none;
      color: #46484d; }
  nav h5:hover {
    border-bottom: 3px solid black; }

#content {
  min-width: 320px; }

#main-content {
  background-color: #37373b;
  color: #ba9494; }

section .section-header {
  text-align: right; }

#quest {
  display: flex; }

canvas {
  margin: 0 auto;
  width: 480px;
  height: 320px;
  background-color: #100000; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #ba9494;
  background-color: #323C50; }

.table-container {
  overflow: hidden;
  margin-left: 3em;
  margin-right: 3em;
  position: relative; }

.fixed-header-table {
  overflow-y: auto;
  max-height: 80vh; }

#table-header {
  position: relative; }
  #table-header th {
    padding: 8px; }

#visible-header {
  position: relative; }

#data-body-js {
  overflow-x: scroll; }

.th-inner {
  position: absolute;
  padding: 8px; }

#hidden-header {
  visibility: hidden; }

.table {
  width: 100%; }
  .table th {
    vertical-align: top;
    padding: 0;
    background-color: #1b1e24; }
  .table td {
    min-width: 7em;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd; }

.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: #2C3446; }

.table-striped tbody > tr:nth-child(2n) > td {
  background-color: #323C50; }

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th, .table-bordered td {
    border-left: 1px solid #323C50; }
  .table-bordered tbody:first-child tr:first-child th {
    border-top: 0; }
  .table-bordered tbody:first-child tr:first-child th:first-child {
    border-top-left-radius: 4px; }
  .table-bordered tbody:first-child tr:first-child th:last-child {
    border-top-right-radius: 4px; }
  .table-bordered tbody:first-child tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  .table-bordered tbody:first-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }

#results span {
  color: green;
  font-weight: bold; }

.shadow-box {
  box-shadow: 0px 0px 8px 2px black; }

fieldset {
  border: medium none;
  margin: 0px;
  padding: 0px;
  border: none; }

.round-box {
  border-radius: 4px; }

#sql-ui-flex {
  background-color: #3E3E3E;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start; }
  #sql-ui-flex > * {
    margin-top: 1em; }
  #sql-ui-flex > :first-child {
    flex: 2;
    margin: 1em; }
    #sql-ui-flex > :first-child textarea {
      width: 100%;
      height: 10em; }
  #sql-ui-flex > :last-child {
    margin-right: 1em;
    margin-bottom: 1em;
    flex: 1;
    max-height: 15em;
    overflow-y: scroll; }

.inset-shadow {
  box-shadow: 0 0 5px 2px #ada0a0 inset;
  border-radius: 3px;
  border: medium none;
  padding: 2px 2px;
  border-top: 1px solid #6d6060;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #6d6060; }

input:hover, textarea:hover {
  box-shadow: 0px 1px 8px #F48004;
  -webkit-box-shadow: 0px 1px 8px #F48004;
  -moz-box-shadow: 0px 1px 8px #F48004; }

.div-bordered {
  border-width: 1px;
  border-style: solid; }

textarea {
  resize: none; }

footer {
  margin-top: 1em; }

#button-container {
  display: flex; }
  #button-container .bunch-left {
    display: flex;
    flex: 2; }
  #button-container .bunch-right {
    display: flex;
    flex: 1;
    justify-content: flex-end; }

.runButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background: -moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
  background-color: #77d42a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #268a16;
  cursor: pointer;
  color: #306108;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c; }

.runButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background: -moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
  background-color: #5cb811; }

.runButton:active {
  position: relative;
  top: 1px; }

/*# sourceMappingURL=style.css.map */